th{
    color: blueviolet;
}

#hell2{
    color: blueviolet;
    background-color: bisque;
}

#hell3{
    color: blue;
    background-color: yellowgreen;
}

td{
    color: brown;
    background-color: chartreuse;
}

#hell4{
    color: red;
    background-color: blueviolet;
}